.bannerContainer {
  position: relative;

  height: 600px;
}
.bannerContainer img {
  object-fit: cover;
  object-position: center;
}
.bannerContent {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}
.bannerContent button {
  background-color: white;
  color: rgb(248 113 113);
  font-size: 18px;
  padding: 10px 28px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid #fff;
  border-radius: 25px;
  margin-top: 15px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
.bannerContent button:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.bannerContent button:active {
  transform: scale(0.9);
}
