.ExploreSection{
    width: 80%;
    margin: 30px auto;
}
.ExploreCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    margin: 40px 0 0 0;
}
.ExploreCardContent{
    display: flex;
    align-items: center;
    width: 96%;
    margin: 15px 5px 15px 0;
    border-radius: 5px;
    transition: 0.2s all ease-out;
}
.ExploreImgContainer{
    position: relative;
    width: 55px;
    height: 50px;
    margin-right: 15px;
}

.ExploreImgContainer img{
    border-radius: 5px;

}
.ExploreText h2{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 3px;
}
.ExploreText h3{
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.ExploreCardContent:hover{
    background-color: rgba(209, 209, 209, 0.3);
    transform: scale(1.02);
}
@media screen and (max-width: 540px) {
    .ExploreCardContainer{
        grid-template-columns: 1fr ;
    }
    .ExploreSection{
        width: 90%;
    }
}