.mapwrap {
    position: relative;
    width:30%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
  }
  
  .map {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 1100px) {
    .mapwrap{
        display: none;
    }
}