html,
body,* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   
}
html,body{
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
.rdrDateRangePickerWrapper {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
}
.rdrDefinedRangesWrapper {
  width: 100%;
  flex-grow: 1;
}
}